@model WepSiteBanHang.Models.QUANLY
<li class="dropdown pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> @Model.HoTen <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> TTTK </a></li>
        @*<li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>*@
        <li><a href="@Url.Action("DangXuat","DangNhap")"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Đăng Xuất</a></li>
    </ul>
</li>

